body {
  background-color: rgb(35, 34, 34);
  color: rgb(237, 220, 171);
}
button{
    color: yellowgreen;
}
.questions {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  /* border: 2px solid saddlebrown; */
}

.section-center {
  width: 60vw;
  margin: 0 auto;
  
}

.question {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 1rem;
  padding: 2%;
  border: 1px solid saddlebrown;
}

.question-title {
  display: flex;
  justify-content: space-between;
}

.question-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

.question-text {
  display: none;
  padding: 5%;
  background-color: rgb(44, 45, 50);
}

.show-text {
  display: block;
}
